:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Epilogue;
    src: url("./fonts/Epilogue-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-size: 18px;
    font-family: Epilogue;
}

.main-container {
    max-width: 100vw;
    padding: 0.5em;
    min-height: 100vh;
    position: relative;
}

.main-head {
    display: flex;
    padding: 1.5em;
}

.modal-menu {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    padding: .3em;
    position: relative;
}

.overlay ul {
    list-style: none;
    margin-top: 1em;
    margin-left: 1em;
}
.overlay li {
    margin-bottom: .5em;
}
p {
    order: 1;
}

.item.hiden .overlay {
    display: none;
}

.overlay {
    order: 3;
}

.svg-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 50%;
    transition: transform .2s;
    transform: rotate(180deg);
}

.item.hiden .svg-arrow {
    transform: rotate(0);
}

.picture {
    background: url("./images/image-hero-desktop.png") no-repeat center;
    background-size: cover;
    flex-basis: 60%;
}

main.main-info{
    display: flex;
    height: 90vh;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.heading  {
    font-size: 2em;
    margin-top: 1em;
}

p.info {
    order: 2;
    text-align: center;
    color:hsl(0, 0%, 41%);
}


@media screen and (max-width: 600px) {
    .main-head {
        justify-content: space-between;
    }

    .svg-close {
        position: absolute;
        top: 1em; right: 1em;
    }

    .hide {
        background: rgba(0, 0, 0, 0.459);
    }

    .item {
        margin-bottom: .3em;
    }

    .closeModal {
        display: none;
    }

    .modal-menu {
        position: absolute;
        top: 0; right: 0;
        width: 100%;
        width: 60%; height: calc(100%);
        background: #fff;
        flex-direction: column;
        padding: 4em 1em;
        gap: 1em;
        color:hsl(0, 0%, 41%);
    }

    button[type=button] {
        width: 60%;
        padding: 1em 3em;
        border: none;
        border-radius: 20px;
        background: #fff;
        color:hsl(0, 0%, 8%);
    }

    button[type=button]:focus, button[type=button]:hover {
        border: 1px solid black;
    }

    .main-info {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .picture {
        background: url("./images/image-hero-mobile.png") no-repeat center top;
        background-size: cover;
    }

    .main-info button {
        background-color: hsl(0, 0%, 8%);
        order: 3;
        color:hsl(0, 0%, 98%);
        width: 45%;
        padding: 1em 1em;
        font-size: 1em;
    }

    .main-info button:focus {
        background: hsla(0, 0%, 8%, 0.651);
    }

    .foot {
        display: flex;
        justify-content: space-between;
    }
}